<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ToDo </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <div class="container my-5" id="app">
        <div class="row">
            <div class="col-lg-6 mx-auto shadow d-flex justify-content-between p-3">
                <h3 class="d-inline-block"> TODO </h3>
                <div class="d-inline-block">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModel">
                        Add New Post
                    </button>

                </div>
                <div class="row">

                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-6 mx-auto shadow ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ToDo</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(todo,index) in todo_list" :key="todo.id">
                            <td>${todo.title}</td>
                            <td>${todo.notes}</td>
                            <td>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editmodel" v-on:click="getToDoItem(todo.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                       <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>


                                <button type="button" class="btn btn-danger" v-on:click="deleteToDo(todo.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>
                                </button>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="addToDo()">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="exampleModalLabel">Create New ToDo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">ToDo</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" v-model="new_todo.title">
                            </div>
                            <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Notes</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="new_todo.notes"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes" >
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="editmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="updateToDo()">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="exampleModalLabel">Edit ToDo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">ToDo</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" v-model="current_todo.title">
                            </div>
                            <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Notes</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="current_todo.notes"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes" >
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

    <script type="text/javascript">

        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        var app = new Vue({
            el: '#app',
            delimiters:['${','}'],
            data:{
                todo_list:[],
                new_todo:{
                    'title':null,
                    'notes':null
                },
                current_todo:{}
            },
            mounted:function(){
                this.getToDo()
            },
            methods:{
                getToDo:function(){
                    axios.get('/todo/api/')
                    .then((response)=>{
                        this.todo_list = response.data
                    })
                },

                addToDo:function(){
                    axios.post('/todo/api/' , this.new_todo)
                    .then((response)=>{
                        this.getToDo()
                    })
                },

                getToDoItem:function(id){
                    axios.get('/todo/api/' + id)
                    .then((response)=>{
                        this.current_todo = response.data
                    })

                },

                updateToDo:function(){
                    axios.put(`/todo/api/${this.current_todo.id}/`, this.current_todo)
                    .then((response)=>{
                        this.current_todo = response.data
                        this.getToDo()
                    })
                },

                deleteToDo:function(id){
                    axios.delete('/todo/api/' + id)
                    .then((response)=>{
                        this.getToDo()
                    })
                }

            }
        })
    </script>

   </body>
</html>



